<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MySQL*Web - History</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{css/dark-theme.css}" media="screen" />
    <script th:src="@{js/navbar.js}" type="text/javascript"></script>

    <link rel="stylesheet" 

    <!-- Latest compiled and minified JavaScript -->

    <style>
    </style>
</head>
<body>

<div th:replace="navbar :: bar(false)"></div>
<div class="bs-example">
    <div class="page-header">
        <h1>MySQL*Web - <small>History</small></h1>
    </div>
</div>

<div th:replace="nav-tabs :: tabs('')"></div>
<div th:if="${historysize == 0}">
    <br />
    <div class="alert alert-info fade in">
        <a href="#" class="close">&times;</a>
        No command(s) currently exist
    </div>
</div>

<div th:if="${historysize != 0}">
    <div class="col">
        <br />
        <div class="alert alert-success fade in">
            <a href="#" class="close">&times;</a>
            <strong>Success!</strong> Found <b th:text="${historysize}"></b> Command(s)
        </div>
        <table class="table" id="table_results">
            <thead>
            <tr>
                <th colspan="2" style="text-align:center"><b>Command History</b></th>
            </tr>
            <tr>
                <th style="text-align:center">Command</th>
                <th style="text-align:center">Execute</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="command : ${historyList}">
                <td style="text-align:center ">
                    <span th:text="${command}" />
                </td>
                <td style="text-align:center  ">
                    <a th:href="@{/executequery(query=${command})}">
                        <img src="images/b_views.png"
                             th:src="@{images/b_views.png}"
                             alt="View Data"
                             width="16" height="16"
                             border="0"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="clearfix">
</div>

<div th:include="footer :: copy"></div>

</body>
</html>