<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MySQL*Web - Indexes</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{css/dark-theme.css}" media="screen" />
    <script th:src="@{js/navbar.js}" type="text/javascript"></script>

    <!-- Latest compiled and minified JavaScript -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script th:src="@{js/functions.js}" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#datatable-mysql').DataTable({
                autoWidth: false,
                scrollX: false
            });
            table.columns.adjust().draw();
            $('#datatable-mysql').css('width', '100%');
            $('#datatable-mysql_wrapper').css('width', '100%');
        } );
    </script>

    <script type="text/javascript">
        // <![CDATA[

        // js form validation stuff
        var confirmMsg  = 'Do you really want to ';
        // ]]>
    </script>

    <style>
    </style>
</head>
<body>

<div th:replace="navbar :: bar(false)"></div>
<div class="bs-example">
    <div class="page-header">
        <h1>MySQL*Web - <small>Indexes</small></h1>
    </div>
</div>

<div th:replace="nav-tabs :: tabs('indexes')"></div>
<div class="bs-example" th:if="${result != null}">
    <br />
    <div class="col">
        <div th:if="${#strings.contains(result.message, 'ERROR:')}">
            <div class="alert alert-danger fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                </div>
            </div>
            <table class="table">
                <tr class="info">
                    <td th:text="${result.message}" style="text-align:left} " ></td>
                </tr>
            </table>
        </div>
        <div th:if="!${#strings.contains(result.message, 'ERROR:')}">
            <div class="alert alert-success fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bs-example" th:if="${arrayresult != null}">
    <br />
    <div class="col">
        <div th:each="result : ${arrayresult}">
            <div th:if="${#strings.contains(result.message, 'ERROR:')}">
                <div class="alert alert-danger fade in">
                    <a href="#" class="close">&times;</a>
                    <div>
                        <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                    </div>
                </div>
                <table class="table">
                    <tr class="info">
                        <td style="text-align: right">Message:</td>
                        <td th:text="${result.message}" style="text-align:left} " ></td>
                    </tr>
                </table>
            </div>
            <div th:if="!${#strings.contains(result.message, 'ERROR:')}">
                <div class="alert alert-success fade in">
                    <a href="#" class="close">&times;</a>
                    <div>
                        <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="panel-group" id="accordion" th:if="${indexStructure != null}">
        <br />
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="#collapseOne">
                        <span th:text="${indexname}" /> Index Details
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                        <th style="text-align:center">Column</th>
                        <th style="text-align:center">Data</th>
                        </thead>
                        <tbody>
                        <div th:each="rows : ${indexStructure.rows}">
                            <div th:each="columnName : ${indexStructure.columnNames}">
                                <tr>
                                    <td style="text-align:right"><span th:text="${columnName}"/></td>
                                    <td style="text-align:left"><span th:text="${rows.get(columnName)}"/></td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
</div>

<div class="bs-example">
    <br />
    <form th:action="@{/indexes}" method="post" class="form">
        <div class="form-group ">
            <div class="col">
                <input type="text" id="search" name="search" placeholder="Index Name" class="input" />
            </div>
            <div class="col">
                <select id="selectedSchema" name="selectedSchema" class="input">
                    <table>
                        <tr th:each="schema : ${schemas}">
                            <div th:if="${schema == chosenSchema}">
                                <option th:value="${schema}" selected="selected">
                                    <span th:text="${schema}" />
                                </option>
                            </div>
                            <div th:if="${schema != chosenSchema}">
                                <option th:value="${schema}">
                                    <span th:text="${schema}" />
                                </option>
                            </div>
                        </tr>
                    </table>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="user-badge" name="searchpressed" value="searchpressed">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="bs-example" th:if="${estimatedrecords == 0}">
    <div class="alert alert-info fade in">
        <a href="#" class="close">&times;</a>
        <strong>Info!</strong> Found 0 Indexes
    </div>
</div>

<!-- Add table with Results only if results exist -->
<div class="bs-example tables-results" th:if="${estimatedrecords > 0}">
    <div class="alert alert-success fade in">
        <a href="#" class="close">&times;</a>
        <strong>Success!</strong> Found <b th:text="${estimatedrecords}"></b> Index(es)
    </div>
    <div class="table-wrapper">
        <form th:action="@{/indexes}" method="post" name="tablesForm" id="tablesForm">
            <input type="hidden" name="selectedSchema" th:value="${chosenSchema}" />
            <table id="datatable-mysql" class="table tables-main-table indexes-main-table">
                <caption class="tables-caption"><b>Indexes</b></caption>
                <thead>
                <tr>
                    <th style="text-align:center"></th>
                    <th style="text-align:center">Catalog</th>
                    <th style="text-align:center">Schema</th>
                    <th style="text-align:center">Table Name</th>
                    <th style="text-align:center">Index Name</th>
                    <th style="text-align:center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="index,iterStat : ${indexes}">
                    <td style="text-align:center">
                        <input type="checkbox"
                               name="selected_idx[]"
                               th:value="${index.indexName}"
                               th:id="'checkbox_tbl_' + ${iterStat.count} + ''" />
                    </td>
                    <td th:text="${index.catalog}" style="text-align:center"></td>
                    <td th:text="${index.schemaName}" style="text-align:center"></td>
                    <td th:text="${index.tableName}" style="text-align:center"></td>
                    <td th:text="${index.indexName}" style="text-align:center"></td>
                    <td style="text-align:center">
                        <div class="action-buttons">
                            <a class="user-badge"
                               th:href="@{/indexes(idxName=${index.indexName},idxAction='DROP',selectedSchema=${chosenSchema},tableName=${index.tableName})}"
                               th:data1="${index.indexName}"
                               th:onclick="'return confirmLink(this, \'Drop INDEX ' + this.getAttribute('data1') + '?\')'"
                               title="Drop Index">Drop</a>
                            <a class="user-badge"
                               th:href="@{/indexes(idxName=${index.indexName},tabName=${index.tableName},idxAction='STRUCTURE',selectedSchema=${chosenSchema})}"
                               title="Index Details">Details</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>


<div class="clearfix">
</div>

<div th:include="footer :: copy"></div>

</body>
</html>