<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MySQL*Web - Preferences Page</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{css/dark-theme.css}" media="screen" />
    <script th:src="@{js/navbar.js}" type="text/javascript"></script>

    <link rel="stylesheet" 

    <!-- Latest compiled and minified JavaScript -->

    <script th:src="@{js/functions.js}" type="text/javascript"></script>

    <style>
    </style>
</head>
<body>

<div th:replace="navbar :: bar(false)"></div>
<div class="bs-example">
    <div class="page-header">
        <h1>MySQL*Web - <small>Preferences</small></h1>
    </div>
</div>

<div th:replace="nav-tabs :: tabs('')"></div>
<div th:if="${success != null}">
    <div class="alert alert-success fade in">
        <a href="#" class="close">&times;</a>
        <strong>Success!</strong> <strong th:text="${success}"></strong>
    </div>
</div>

<div class="bs-example">
    <br />
    <form th:action="@{/prefs}" method="post" class="form">
        <div class="form-group">
            <label for="maxrecordsinsqlworksheet" class="control-label col-xs-2">Max Records in Worksheet</label>
            <div class="col">
                <input type="text" class="input" id="maxrecordsinsqlworksheet" name="maxrecordsinsqlworksheet"
                       th:value="${userPref.maxRecordsinSQLQueryWindow}" onkeyup="checkInput(this)"
                       placeholder="Max Records in SQL Worksheet" />
            </div>
        </div>
        <div class="form-group">
            <label for="historysize" class="control-label col-xs-2">History Size</label>
            <div class="col">
                <input type="text" class="input" id="historysize" name="historysize" th:value="${userPref.historySize}" onkeyup="checkInput(this)"
                       placeholder="Size of SQL History List" />
            </div>
        </div>
        <div class="form-group">
            <label for="sampleDataSize" class="control-label col-xs-2">Table Data Viewer Size</label>
            <div class="col">
                <input type="text" class="input" id="sampleDataSize" name="sampleDataSize" th:value="${userPref.sampleDataSize}"
                       placeholder="Sample size of Table Data Viewer" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">
                     Update Preferences
                </button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</div>


<div class="clearfix">
</div>

<div th:include="footer :: copy"></div>

</body>
</html>