<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MySQL*Web - SQL*Worksheet</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <th:block th:replace="prefs-config :: head"></th:block>

    <link rel="stylesheet" th:href="@{css/dark-theme.css}" media="screen" />
    <script th:src="@{js/navbar.js}" type="text/javascript"></script>
    <script th:src="@{js/functions.js}" type="text/javascript"></script>
    <script th:src="@{js/interactive-table.js(v=2)}" type="text/javascript"></script>
    <script th:src="@{edit_area/edit_area_full.js}" type="text/javascript"></script>

    <script language="Javascript" type="text/javascript">
        // initialisation
        editAreaLoader.init({
            id: "query"	// id of the textarea to transform
            ,start_highlight: true
            ,allow_toggle: false
            ,allow_resize: "y"
            ,language: "en"
            ,syntax: "sql"
            ,toolbar: "search, go_to_line, |, undo, redo, |, select_font, |, highlight"
            ,syntax_selection_allow: "sql"
            ,is_multi_files: false
            ,resize: true
            ,show_line_colors: true
        });
    </script>

    <script>
        function enableLoad() {
            document.getElementById("load_button").disabled=false;
        }
    </script>

</head>
<body class="page-compact">

<div th:replace="navbar :: bar(false)"></div>
<div class="bs-example">
    <div class="page-header">
        <h1>MySQL*Web - <small>SQL*Worksheet</small></h1>
    </div>
</div>

<div th:replace="nav-tabs :: tabs('query')"></div>
<div th:if="${sqlfile != null}">
    <div class="bs-example">
        <div class="alert alert-success fade in">
            <a href="#" class="close">&times;</a>
            <strong>Success!</strong> Loaded <strong th:text="${sqlfile}"></strong>
        </div>
    </div>
</div>

<div class="bs-example tables-page-main" th:if="${explainresult != null}">
    <div class="alert alert-success fade in">
        <a href="#" class="close">&times;</a>
        <strong>Success!</strong> Explain Plan Completed successfully
    </div>
</div>

<div class="bs-example tables-results" th:if="${explainresult != null}">
    <div class="table-wrapper">
        <table data-interactive-table class="table variables-main-table">
            <thead>
            <tr>
                <th th:each="columnName : ${explainresult.columnNames}"
                    style="text-align:center"
                    th:text="${columnName}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rows : ${explainresult.rows}">
                <td th:each="columnName : ${explainresult.columnNames}"
                    style="text-align:center"
                    th:text="${rows.get(columnName)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <br />
    <form th:action="@{/uploadsql}" method="post" class="form" enctype="multipart/form-data" onsubmit="return checkFile();">
        <div class="form-group">
            <div class="col">
                <label class="btn btn-primary">
                    Browse SQL File&hellip; <input type="file" name="file" style="display: none" onchange="enableLoad()" />
                </label>
                <button id="load_button" type="submit" class="btn btn-primary" disabled="disabled">Load</button>
                &nbsp; Use Browse SQL File button to enable load of SQL File
            </div>
        </div>
    </form>
</div>

<br />
<div class="bs-example query-toolbar">
    <form th:action="@{/query}" method="post" class="form query-form">
        <div class="query-actions">
            <a class="user-badge"
               th:href="@{/query(action=commit)}"
               title="Commit Current Transaction">Commit</a>
            <a class="user-badge"
               th:href="@{/query(action=rollback)}"
               title="Rollback Current Transaction">Rollback</a>
            <a class="user-badge"
               th:href="@{/history}"
               title="View Successful Command History">History</a>
        </div>

        <div class="query-options-row">
            <label class="query-option">
                <span class="query-options-label">Query Count</span>
                <select id="queryCount" name="queryCount" class="input">
                    <option value="N" th:selected="${queryCount != 'Y'}">No</option>
                    <option value="Y" th:selected="${queryCount == 'Y'}">Yes</option>
                </select>
            </label>
            <label class="query-option">
                <span class="query-options-label">Elapsed Time</span>
                <select id="elapsedTime" name="elapsedTime" class="input">
                    <option value="N" th:selected="${elapsedTime != 'Y'}">No</option>
                    <option value="Y" th:selected="${elapsedTime == 'Y'}">Yes</option>
                </select>
            </label>
            <label class="query-option">
                <span class="query-options-label">Explain Plan</span>
                <select id="explainPlan" name="explainPlan" class="input">
                    <option value="N" th:selected="${explainPlan != 'Y'}">No</option>
                    <option value="Y" th:selected="${explainPlan == 'Y'}">Yes</option>
                </select>
            </label>
        </div>

        <p class="query-help-text">Run SQL query, DML or DDL into the query window below</p>

        <div class="query-editor-group">
            <textarea class="input" id="query" style="height: 300px; width: 100%; resize: both" name="query" cols="40" rows="8" th:inline="text">[[${query}]]</textarea>
        </div>

        <div class="query-form-actions">
            <button type="submit" class="user-badge">Execute</button>
            <button type="reset" class="user-badge">Reset</button>
        </div>
    </form>
</div>

<div th:if="${result != null}">
    <br />
    <div class="col">
        <div th:if="${#strings.contains(result.message, 'ERROR:')}">
            <div class="alert alert-danger fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                </div>
                <div>
                    <strong><span th:text="${result.message}" /></strong>
                </div>
            </div>
        </div>
        <div th:if="!${#strings.contains(result.message, 'ERROR:')}">
            <div class="alert alert-success fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                </div>
                <div>
                    <strong>Success!</strong> Command completed successfully
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bs-example tables-page-main" th:if="${queryResults != null}">
    <div class="alert alert-success fade in">
        <a href="#" class="close">&times;</a>
        <div>
            <b>MySQL*Web&gt;</b> <span th:text="${querysql}" />
        </div>
        <div th:if="${queryResultCount != null}">
            <strong>Success!</strong> Query completed successfully - Total of <span th:text="${queryResultCount}" /> row(s)
        </div>
        <div th:if="${queryResultCount == null}">
            <strong>Success!</strong> Query completed successfully
        </div>
        <div>
            <a th:href="@{/query(query=${querysql},action='export')}">
                <img src="images/b_save.png"
                     th:src="@{images/b_save.png}"
                     alt="Export Data to CSV"
                     width="16" height="16"
                     border="0"/> Save as CSV
            </a>
            <a th:href="@{/query(query=${querysql},action='export_json')}">
                <img src="images/b_save.png"
                     th:src="@{images/b_save.png}"
                     alt="Export Data to JSON"
                     width="16" height="16"
                     border="0"/> Save as JSON
            </a>
        </div>
        <div th:if="${elapsedTimeResult != null}">
            Elapsed Time <span th:text="${elapsedTimeResult}" /> second(s)
        </div>
    </div>
    <div class="form tables-search-form">
        <div id="table-controls-host" class="table-controls-host"></div>
    </div>
</div>

<div class="bs-example tables-results" th:if="${queryResults != null}">
    <div class="table-wrapper">
        <table id="datatable-mysql"
               data-interactive-table
               data-controls-host="#table-controls-host"
               class="table variables-main-table">
            <thead>
            <tr>
                <th th:each="columnName : ${queryResults.columnNames}"
                    style="text-align:center"
                    th:text="${columnName}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rows : ${queryResults.rows}">
                <td th:each="columnName : ${queryResults.columnNames}"
                    style="text-align:center"
                    th:text="${rows.get(columnName)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="bs-example" th:if="${sqlResultMap != null}">
    <div class="alert alert-warning fade in">
        <a href="#" class="close">&times;</a>
        <strong>Note!</strong> Ran <b th:text="${statementsExecuted}"></b> Statement(s)
    </div>
    <div th:each="item : ${sqlResultMap}">
        <div th:if="${#strings.contains(item.key, 'SELECT')}">
            <div class="alert alert-success fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${item.value[0]}" />
                </div>
                <strong>Success!</strong> Query Completed Successfully
                <div th:if="${item.value[2] != null}">
                    Elapsed Time <span th:text="${item.value[2]}" /> second(s)
                </div>
                <div>
                    <a th:href="@{/query(query=${item.value[0]},action='export')}">
                        <img src="images/b_save.png"
                             th:src="@{images/b_save.png}"
                             alt="Export Data to CSV"
                             width="16" height="16"
                             border="0"/> Save as CSV
                    </a>
                    <a th:href="@{/query(query=${item.value[0]},action='export_json')}">
                        <img src="images/b_save.png"
                             th:src="@{images/b_save.png}"
                             alt="Export Data to JSON"
                             width="16" height="16"
                             border="0"/> Save as JSON
                    </a>
                </div>
            </div>
            <div class="table-wrapper tables-results">
                <table data-interactive-table class="table variables-main-table">
                    <thead>
                    <tr>
                        <th th:each="columnName : ${item.value[1].columnNames}"
                            style="text-align:center"
                            th:text="${columnName}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rows : ${item.value[1].rows}">
                        <td th:each="columnName : ${item.value[1].columnNames}"
                            style="text-align:center"
                            th:text="${rows.get(columnName)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="!${#strings.contains(item.key, 'SELECT')}">
                <div th:if="${#strings.contains(item.value.message, 'ERROR:')}">
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close">&times;</a>
                        <div>
                            <b>MySQL*Web&gt;</b> <span th:text="${item.value.command}" />
                        </div>
                        <div>
                            <strong><span th:text="${item.value.message}" /></strong>
                        </div>
                    </div>
                </div>
                <div th:if="!${#strings.contains(item.value.message, 'ERROR:')}">
                    <div class="alert alert-success fade in">
                        <a href="#" class="close">&times;</a>
                        <div>
                            <b>MySQL*Web&gt;</b> <span th:text="${item.value.command}" />
                        </div>
                        <div>
                            <strong>Success!</strong> Command completed successfully
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div th:include="footer :: copy"></div>

</body>
</html>