<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MySQL*Web - Views</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{css/dark-theme.css}" media="screen" />
    <script th:src="@{js/navbar.js}" type="text/javascript"></script>

    <script th:src="@{js/functions.js}" type="text/javascript"></script>
    <script th:src="@{js/interactive-table.js}" type="text/javascript"></script>

    <script type="text/javascript">
        // <![CDATA[

        // js form validation stuff
        var confirmMsg  = 'Do you really want to ';
        // ]]>
    </script>

</head>
<body class="page-compact">
<div th:replace="navbar :: bar(false)"></div>
<div class="bs-example">
    <div class="page-header">
        <h1>MySQL*Web - <small>Views</small></h1>
    </div>
</div>

<div th:replace="nav-tabs :: tabs('views')"></div>

<div class="bs-example tables-page-main">
    <div class="alert alert-success fade in" th:if="${estimatedrecords != null and estimatedrecords > 0}">
        <a href="#" class="close">&times;</a>
        <strong>Success!</strong> Found <b th:text="${estimatedrecords}"></b> View(s)
    </div>
    <div class="alert alert-info fade in" th:if="${estimatedrecords != null and estimatedrecords == 0}">
        <a href="#" class="close">&times;</a>
        <strong>Info!</strong> Found 0 Views
    </div>
    <form th:action="@{/views}" method="post" class="form tables-search-form">
        <input type="text" id="search" name="search" placeholder="View Name" class="input tables-search-input" />
        <select id="selectedSchema" name="selectedSchema" class="input tables-search-schema">
            <option th:each="schema : ${schemas}"
                    th:value="${schema}"
                    th:text="${schema}"
                    th:selected="${schema == chosenSchema}"></option>
        </select>
        <button type="submit" class="user-badge tables-search-button" name="searchpressed" value="searchpressed">Search</button>
        <div id="table-controls-host" class="table-controls-host"></div>
    </form>
</div>

<div class="bs-example tables-results" th:if="${estimatedrecords > 0}">
    <div class="table-wrapper">
        <form th:action="@{/views}" method="post" name="tablesForm" id="tablesForm">
            <input type="hidden" name="selectedSchema" th:value="${chosenSchema}" />
            <table id="datatable-mysql"
                   data-controls-host="#table-controls-host"
                   class="table tables-main-table views-main-table">
                <thead>
                <tr>
                    <th style="text-align:center"></th>
                    <th style="text-align:center">Catalog</th>
                    <th style="text-align:center">Schema</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="view,iterStat : ${views}">
                    <td style="text-align:center">
                        <input type="checkbox"
                               name="selected_view[]"
                               th:value="${view.viewName}"
                               th:id="'checkbox_view_' + ${iterStat.count} + ''" />
                    </td>
                    <td th:text="${view.catalog}" style="text-align:center"></td>
                    <td th:text="${view.schemaName}" style="text-align:center"></td>
                    <td th:text="${view.viewName}" style="text-align:center"></td>
                    <td style="text-align:center">
                        <div class="action-buttons">
                            <a class="user-badge"
                               th:href="@{/executequery(query='select * from ' + ${chosenSchema} + '.' + ${view.viewName})}"
                               title="View Data">View</a>
                            <a class="user-badge"
                               th:href="@{/views(viewName=${view.viewName},viewAction='DROP',selectedSchema=${chosenSchema})}"
                               th:data1="${view.viewName}"
                               th:onclick="'return confirmLink(this, \'Drop VIEW ' + this.getAttribute('data1') + '?\')'"
                               title="Drop View">Drop</a>
                            <a class="user-badge"
                               th:href="@{/views(viewName=${view.viewName},viewAction='DEF',selectedSchema=${chosenSchema})}"
                               title="View Definition">Definition</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="clearfloat tables-bulk-actions">
                <div class="col">
                    <a class="user-badge" th:href="@{/views(selectedSchema=${chosenSchema})}"
                       onclick="if (setCheckboxes('datatable-mysql', 'true')) return false;">
                        Check All</a>
                    <a class="user-badge" th:href="@{/views(selectedSchema=${chosenSchema})}"
                       onclick="if (unMarkAllRows('tablesForm')) return false;">
                        Uncheck All</a>
                </div>

                <div class="col">
                    <select name="submit_mult" onchange="if(confirm('This action can not be reversed are you sure you want to continue?')){this.form.submit();}" class="input">
                        <option value="With selected:" selected="selected">With selected:</option>
                        <option value="Drop" >Drop</option>
                    </select>
                </div>

                <script type="text/javascript">
                    <!--
                    // Fake js to allow the use of the <noscript> tag
                    //-->
                </script>
                <noscript>
                    <button type="submit" class="btn btn-primary">Go</button>
                </noscript>
            </div>

        </form>
    </div>
</div>

<div class="bs-example" th:if="${result != null}">
    <div class="col">
        <div th:if="${#strings.contains(result.message, 'ERROR:')}">
            <div class="alert alert-danger fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                </div>
            </div>
            <table class="table">
                <tr class="info">
                    <td th:text="${result.message}" style="text-align:left} " ></td>
                </tr>
            </table>
        </div>
        <div th:if="!${#strings.contains(result.message, 'ERROR:')}">
            <div class="alert alert-success fade in">
                <a href="#" class="close">&times;</a>
                <div>
                    <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bs-example" th:if="${arrayresult != null}">
    <div class="col">
        <div th:each="result : ${arrayresult}">
            <div th:if="${#strings.contains(result.message, 'ERROR:')}">
                <div class="alert alert-danger fade in">
                    <a href="#" class="close">&times;</a>
                    <div>
                        <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                    </div>
                </div>
                <table class="table">
                    <tr class="info">
                        <td style="text-align: right">Message:</td>
                        <td th:text="${result.message}" style="text-align:left} " ></td>
                    </tr>
                </table>
            </div>
            <div th:if="!${#strings.contains(result.message, 'ERROR:')}">
                <div class="alert alert-success fade in">
                    <a href="#" class="close">&times;</a>
                    <div>
                        <b>MySQL*Web&gt;</b> <span th:text="${result.command}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col" th:if="${viewdef != null}">
    <div class="panel-group" id="accordion">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="#collapseOne">
                        <span th:text="${viewName}" /> Definition
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                    <span th:text="${viewdef}" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="footer :: copy"></div>

</body>
</html>